@font-face {
    /*font-family: Barrio;
    src: local(Barrio), url(ModernSans-Light.otf);*/
    color: black;
    font-family: Main;
    src: local(Main), url(Klein-Text-Book-trial.ttf);
    /*src: local(Fonte), url(Klein-ExtraLight-trial.ttf);
    
    Klein-ExtraLight-trial*/
}

@font-face {
    color: black;
    font-family: Fonte;
    src: local(Fonte), url(Klein-ExtraLight-trial.ttf);
}
p,li{font-family: Arial;}
body,
h2,
h3,
ul {
    padding: 0px;
    margin: 0px;
    font-family: 'Main';
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1235px;
    margin: auto;
    height: 95px;
    align-items: center;
}

header .logo {
    background: none;
    border: none;
    width: 90px;
    margin-right: 0px;
    margin-top: 8px;
}

header .quero-ser-next {
    width: 178px;
    height: 53px;
    background-color: #FD6699;
    border: none;
    color: white;
    font-weight: bold;
    margin-right: 28px;
    margin-bottom: 0px;
    font-size: 11px;
    margin-top: 13px;
    margin-left: 12px;
}


.mobile {
    display: none;
}

.menu-next {
    display: flex;
    font-size: 0.575rem;
    font-weight: bold;


}

.menu-next {
    text-decoration: none;
    list-style: none;
    padding-right: 100px;


}

.menu-next li {
    margin-right: 30px;
    letter-spacing: 2px;
    margin-top: 11px;
}


main {
    width: 100%;
    margin: auto;
    height: 604px;
    background-color: #F2F2F2;
}

.banner {
    height: 650px;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
}

.banner .conteudo-imagem {

    width: 30%;
    font-size: 16px;
    color: #010101;
    margin-bottom: 120px;



}

.banner .conteudo-imagem h1 {
    font-size: 53px;
    margin-bottom: 30px;
    font-family: 'Fonte';
    width: 350px;

}

.banner .conteudo-imagem p {
    font-weight: bold;
    margin-bottom: 3px;
    width: 400px;

}

.banner img {
    width: 55%;
    margin-left: 130px;
    margin-bottom: 18px;
}

.menu-next i {
    margin-left: 5px;
}

@media (max-width: 500px) {
    .banner .conteudo-imagem h1 {
        width: 200px;
        font-size: 32px;
    }

    .banner .conteudo-imagem p {
        width: 240px;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.5;
        /*Espaço entre linhas*/
    }

    .web {
        display: none;
    }

    .mobile {
        display: block;
    }

    .bars {
        display: block;
        width: 20px;
        background: none;
        border: none;
        margin-right: 40px;
        font-size: 24px;
    }

    .banner {
        width: 100%;
        justify-content: flex-end;
    }

    .banner .conteudo-imagem {
        position: absolute;
        top: 100px;
        left: 20px;
        margin-top: 20px;
    }


    .banner .imagem-mobile {
        width: 100%;
    }

    .baixe-app {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #FD6699;
        border: none;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media (max-width: 407px) {
    .banner .conteudo-imagem p {
        font-size: 14px;
    }

}

@media (max-width: 382px) {

    .banner .conteudo-imagem p {
        font-size: 12px;
    }
}

/*Parte do Login*/

/*#QueroSerNext{
    cursor: pointer;
}*/
.quero-ser-next {
    display: block;
}

.Entrar {
    display: none;
    background-color: rgba(165, 147, 147, 0.8);
    position: absolute;
    top: 15%;
    left: 70%;
    /*transform: translate(-50%, -50%);*/
    padding: 80px;
    border-radius: 8px;
    color: white;
    align-items: center;


}

.Entrar.show {
    display: block;
}

#Email,
#Senha {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 8px 8px;

}

#BotaoEntrar {
    background-color: #FD6699;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px 5px;
    cursor: pointer;
    position: relative;
    color: white;
    font-family: 'Main';
    font-weight: bold;

}

#BotaoEntrar:hover {
    background-color: #f778a2;
}

/*INICIO CDD PESQUISA*/


















small {
    /*controla a dica de ação*/
    display: block;
}

small.block {
    display: none;
}

@keyframes move {
    from {
        bottom: 50%;
    }

    to {
        bottom: 0%
    }
}

@keyframes animacao_login {
    0% {
        top: -10%;
    }

    25% {
        top: 0%;
    }

    75% {
        top: 0%;
    }

    100% {
        top: -10%;
        display: none;
    }
}

@keyframes animacao_login_reverse {
    from {
        top: 0%;
    }

    to {
        top: -10%;
    }
}

.animacao_login {
    display: none;
    border-radius: 20pt;
    padding: 5pt 0;
    text-align: center;
    padding: 1.5% 0 2%;
    left: 40%;
    background-color: #07f85d;
    color: black;
    position: absolute;
    height: 2%;
    width: 15%;
}

.animacao_login.show {
    display: block;
    animation: animacao_login 3s;
}

.animacao_login.close {
    display: none;
}

#abrir_busca {
    display: none;
    background-color: #07f85d;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px 5px;
    cursor: pointer;
    position: absolute;
    color: hwb(0 0% 100%);
    font-family: 'Main';
    font-weight: bold;
}

#abrir_busca.show {
    display: block;
}

#fechar {
    position: relative;
    left: 48%;
    border-right: 70%;
    color: rgb(255, 0, 0);

}

.background {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 70%;
    background-color: rgb(0, 0, 0);
}

.background.show {
    display: block;
}

.JANELA_DE_BUSCA {
    animation: 0.5s move;
    text-align: center;
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgb(0, 255, 238), #ffffff);
    padding: 1%;
    margin: 12% 25% 25% 30%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 2ch;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.local_animacao {
    padding-left: 50%;
}

.animacao_procurar {
    display: none;
    animation: is-rotating 1s;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
    border-top-color: #33032b;
    height: 20px;
    width: 20px;
}

.animacao_procurar.show {
    display: block;
}

.css_sair {
    display: none;
    color: white;
    background-color: rgb(209, 1, 1);
    cursor: pointer;
    box-shadow: 0 0 .5em black;
    border: 0;
    padding: 0;
    text-align: center;
    height: 4%;
    width: 2.5%;
    position: absolute;
    top: 2%;
    left: 90%;
    border-radius: 100%;
}

.css_sair.show {
    display: block;
}

/*Fim do Login*/